<!DOCTYPE html>
<html>

<head>
  <title>Create Sign Video | SignBook</title>
  <!-- CSS -->
  <link href="./styles/reset.css" rel="stylesheet">
  <link href="./styles/jquery-ui.css" rel="stylesheet">
  <link href="./styles/jquery-ui.structure.css" rel="stylesheet">
  <link href="./styles/jquery-ui.theme.css" rel="stylesheet">
  <link href="./styles/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./styles/createVid.css" rel="stylesheet">
  <!-- lib JS -->
  <script src="scripts/lib/jquery-1.9.0.js"></script>
  <script src="scripts/lib/jquery-ui.js"></script>
  <script src="scripts/lib/gif-recorder.js"></script>
  <script src="scripts/lib/omggif.js"></script>
  <script src="scripts/lib/FileSaver.js"></script>
  <script src="scripts/lib/jquery.autosize.input.js"></script>
  <script src="scripts/lib/angular-1.2.26.min.js"></script>
  <!-- MODIFIED lib JS (so NEED TO USE my versions of these files) -->
  <script src="scripts/lib/LZWEncoder-mod-jsgif.js"></script>
  <script src="scripts/lib/gifencoder-mod-jsgif.js"></script>
  <script src="scripts/lib/recordRTC-mod.js"></script>
  <!-- my JS -->
  <script src="scripts/utils.js"></script>
  <script src="scripts/my-gif-api.js"></script>
  <script src="scripts/my-db-api.js"></script>
  <script src="scripts/createVid.js"></script>
</head>

<body ng-app="createContent" class="center-children">

<div ng-controller="CreateController">

<div id="main-container">

  <h1>{{vidMode ? "Create Sign Video" : "Take New Picture"}}</h1>

  <div id="video-record-container" class="center-children">
    <video id="video-record" class="flipped" width="320" height="240" autoplay></video>
    <canvas id="editor-canvas" width="320" height="240" style="display: none;"></canvas>
    <div id="video-record-overlay" class="center-children">
      <div id="overlay-padding"></div>
      <div id="overlay-text" style="display: none;">Start Recording...</div>
    </div>
  </div>

  <div id="editor-container" class="center-children">
    <div id="editor-slider" style="display: none;"></div>
    <!--<button id="trim-btn" style="display: none;">Trim Clip</button>-->
  </div>

  <div id="button-container" class="center-children">
    <div id="button-bar">
      <button title="Turn Webcam On" id="camera-btn">
        <i class="fa fa-video-camera fa-2x"></i>
        <br>Turn On Camera
      </button>
      <button title="Record Video" ng-show="vidMode" id="record-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-2x fa-circle red-font"></i>
      </button>
      <button title="Take Picture" ng-show="!vidMode" id="take-photo-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-camera fa-2x"></i>
      </button>
      <button title="Stop Recording" id="stop-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-stop fa-2x"></i>
      </button>
      <button title="Take Again" id="re-record-btn" class="circle-btn" ng-disabled="savingGif" style="display: none;">
        <i class="fa fa-times fa-2x"></i>
      </button>
      <button title="Play" id="play-btn" class="circle-btn" style="display: none;" ng-disabled="savingGif">
        <i class="fa fa-play fa-2x"></i>
      </button>
      <button title="Pause" id="pause-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-pause fa-2x"></i>
      </button>
      <button title="Save to Word" id="check-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-check fa-2x"></i>
      </button>
      <button title="Please Wait" id="spinner-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-spinner fa-pulse fa-2x"></i> 
      </button>
      <!-- <button id="trim-btn" class="circle-btn" style="display: none;">
        <i class="fa fa-scissors fa-2x fa-rotate-135"></i>
      </button> -->
    </div>
  </div>

  <div id="input-container" class="center-children">
    <input id="word-input" ng-model="wordInput" placeholder="Word To Update" style="display: none;" type="text" value="" data-autosize-input='{ "space": 40 }' />
  </div>

  <div id="help-container" class="center-children">
    <div id="help-text-area">
      <span id="help-text">Make sure you have a webcam connected.<br>Then click the camera icon to turn on the camera.</span>
    </div>
  </div>

  <!-- <div id="video-preview">
    <h2>Video Preview</h2>
    <button id="save-btn">Save GIF</button>
    <div id="video-download-link">
      <a id="gif-download-link" href=""></a>
    </div>
    <img id="gif-preview-img" width="320" height="240">
  </div> -->

</div>

<div id="back-button-container" class="Center-children" ng-disabled="savingGif">
  <button id="back-button">
    <i class="fa fa-arrow-left"></i>
    Back to Dictionary 
    <span>{{(areEditing && !areCapturing) ? "(Without Saving!)" : ""}}</span>
  </button>
</div>

</div>

</body>

</html>
