<!DOCTYPE html>
<html>

<head>
  <title>SignBook</title>
  <!-- CSS -->
  <link href="./styles/reset.css" rel="stylesheet">
  <link href="./styles/jquery-ui.css" rel="stylesheet">
  <link href="./styles/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./styles/dropzone.css" rel="stylesheet">
  <link href="./styles/main.css" rel="stylesheet">
  <!-- lib JS (could be condensed...) -->
  <script src="scripts/lib/jquery-1.9.0.js"></script>
  <script src="scripts/lib/jquery-ui-1.11.4.min.js"></script>
  <script src="scripts/lib/gif-recorder.js"></script>
  <script src="scripts/lib/omggif.js"></script>
  <script src="scripts/lib/FileSaver.js"></script>
  <script src="scripts/lib/dropzone.js"></script>
  <script src="scripts/lib/jquery.autosize.input.js"></script>
  <script src="scripts/lib/angular-1.2.26.min.js"></script>
  <!-- MODIFIED lib JS (so NEED TO USE my versions of these files) -->
  <script src="scripts/lib/LZWEncoder-mod-jsgif.js"></script>
  <script src="scripts/lib/gifencoder-mod-jsgif.js"></script>
  <script src="scripts/lib/recordRTC-mod.js"></script>
  <script src="scripts/lib/jquery.mjs.nestedSortable-mod.js"></script>
  <!-- my JS -->
  <script src="scripts/utils.js"></script>
  <script src="scripts/my-gif-api.js"></script>
  <script src="scripts/my-db-api.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/folderController.js"></script>
  <script src="scripts/lib/angular-treeRepeat-directives.js"></script>
</head>

<body ng-app="signBook">

<div ng-controller="MainController" id="main-container">
  <div id="left-sidebar">
    <div id="sidebar-header" class="center-children">
      <button ng-click="toggleMode()" ng-hide="areRearranging">
        <span ng-show="isEditMode">
          <i class="fa fa-eye"></i>
          View Mode
        </span>
        <span ng-show="!isEditMode">
          <i class="fa fa-pencil"></i>
          Edit Mode
        </span>
      </button>
      <button ng-click="createFolder()" ng-show="isEditMode &&!areRearranging">
        <i class="fa fa-folder"></i>
        New Topic
      </button>
      <button ng-click="createEntry();" ng-show="isEditMode && !areRearranging">
        <i class="fa fa-plus"></i>
        New Word
      </button>
      <button ng-click="toggleRearrange()" id="add-word-btn" ng-show="isEditMode">
        <span ng-show="areRearranging">
          <i class="fa fa-check"></i>
          Save Arrangement
        </span>
        <span ng-show="!areRearranging">
          <i class="fa fa-arrows"></i>
          Rearrange
        </span>
      </button>
      <button ng-click="cancelRearrange()" ng-show="areRearranging">
        <span>
          <i class="fa fa-times"></i>
          Cancel
        </span>
      </button>
    </div>
    
    <!-- FOLDERS -->

    <div ng-controller="FolderController" id="folder-list" class="no-select">
      
      <ol frang-tree class="sortable mjs-nestedSortable-no-nesting mjs-nestedSortable-disabled" id="tree-root">
        <!-- can lead to duplicate ids for duplicate entries -->
        <li id="li_{{node.id}}"
            class="entry-id-{{nodeIdToEntry(node.id)}}"
            frang-tree-repeat="node in data.treeData"
            ng-class="{
              folder: node.isFolder, 
              entry: !node.isFolder, 
              'closed-folder': (node.isFolder && node.collapsed), 
              'open-folder': (node.isFolder && !node.collapsed)}">
          <div class="item" ng-class="{'current-entry': (node.id === data.nodeId)}">
            <i id="folder_icon_{{node.id}}"
                  class="folder-icon fa"
                  ng-class="{'fa-folder': node.collapsed, 'fa-folder-open': !node.collapsed}"
                  ng-if="node.isFolder"
                  ng-click="clickFolder(node.id);"></i>
            <i ng-click="addEntryToFolder(nodeIdToEntry(node.id), node.name, data.folderObj.id);"
                  ng-if="!node.isFolder && addingWordsToFolder && $parent.node.id !== data.nodeId"
                  class="fa fa-plus-circle add-entry-to-folder"></i>
            <i ng-click="deleteNodeFromCurFolder(node)" 
                  ng-if="!node.isFolder && addingWordsToFolder && $parent.node.id === data.nodeId" 
                  class="fa fa-minus-circle delete-entry-from-folder"></i>
            <span id="label_{{node.id}}"
                  class="label"
                  ng-bind="node.name"
                  ng-click="action(node, $parent.node)"
                  ng-class="{'no-hover': !node.isFolder && addingWordsToFolder}"></span>
          </div>
          <ol frang-tree-insert-children="node.children"></ol>
        </li>
      </ol>

    </div>
  </div>

  <!-- MAIN VIEW -->

  <div id="right-display-container">
  <div id="right-display">

    <div id="top-fixed-bar">
      <div title="Back to Homepage" id="logo-btn" ng-click="goToHomepage()" ng-class="{'bright-logo': isHomepage}">
        <img src="signBookLogo.png"\>
      </div>
    </div>

    <div class="center-children">
      <h1>Sign Language Dictionary</h1>
    </div>

    <div id="help-container" class="center-children">
      <div id="help-text-area">
        <span id="help-text">Learn sign language!</span>
      </div>
    </div>

    <div id="homepage-content" ng-show="isHomepage" class="center-children">

      <div>
        <h2 class="homepage-title">Task Shortcuts</h2>
      </div>

      <div>
        <div id="homepage-button-area">
          <button ng-click="editMode = true; createFolderFromHomepage()" ng-show="!areRearranging" class="wide-button">
            <i class="fa fa-folder"></i>
            Make a New Topic
          </button>
          <br>
          <button ng-click="editMode = true; createEntryFromHomepage()" ng-show="!areRearranging" class="wide-button">
            <i class="fa fa-plus"></i>
            Make a New Word
          </button>
          <br>
          <button ng-click="takeVideoForNewWord()" ng-show="!areRearranging" class="smaller-button">
            <i class="fa fa-video-camera"></i>
            Take a Video
          </button>
          <br>
          <button ng-click="takePictureForNewWord()" ng-show="!areRearranging" class="smaller-button">
            <i class="fa fa-camera"></i>
            Take a Picture
          </button>
        </div>
      </div>

      <div>
        <h2 class="homepage-title">Dictionary Topics</h2>
      </div>

      <div id="all-folders-contents-area" ng-show="typeof(data.folders) !== 'undefined'">
        <div class="word-in-folder" ng-repeat="childObj in data.folders.children" class="folder-obj">
          <i ng-if="childObj.isFolder" class="fa fa-folder"></i>
          <i ng-if="!childObj.isFolder && !addingWordsToFolder" class="left-padding"></i>
          <i ng-click="deleteNodeFromCurFolder(childObj)" ng-if="!childObj.isFolder && addingWordsToFolder" class="fa fa-minus-circle delete-entry-from-folder"></i>
          <span ng-class="{'hover-pointer': !addingWordsToFolder}" ng-click="goToPageOfNodeObj(childObj)">{{childObj.name}}</span>
        </div>
      </div>

      <br>
      <br>
      <div>
        Originally created by <a href="http://erikpintar.com" target="_blank" style="color: gray;">Erik Pintar</a> for <a href="http://istep2015.techbridgeworld.org" target="_blank" style="color: gray;">iSTEP 2015</a>.
        <br>
        <br>
        See SignBook <a href="license.html" style="color: gray;">license</a>.
      </div>
    </div>

    <div id="vid-pic-container" ng-hide="isNewEntry || isFolderView || isHomepage" class="center-children">

      <!-- VIDEO AREA -->

      <div ng-show="isEditMode || (showHides.showVid && !showHides.disableVid)" id="video-area" class="inline-block">
        <div id="video-container">
          <video id="video-elem" ng-show="vidElemShow && (numVids > 0)"></video>
          <div id="vid-loop" class="has-background-image" ng-show="!vidElemShow && (numVids > 0)"></div>
          <div id="no-vid-area" ng-show="(numVids === 0)">
            <span>Press + to record a sign video.</span>
          </div>
        </div>
        <div id="video-buttons-container" class="button-container">
          <div id="video-button-bar" class="button-bar" ng-show:"true">
            <button title="Previous Video (Q)" ng-click="prevVid()" ng-show="numVids > 1" ng-disabled="curVidIndex === 0" id="left-video-btn" class="circle-btn">
              <i class="fa fa-arrow-left fa-2x"></i>
            </button>
            <button title="Add New Video" ng-click="addNewVideo()" id="add-video-btn" class="circle-btn" ng-show="isEditMode">
              <i class="fa fa-plus fa-2x"></i>
            </button>
            <button title="Play" ng-click="playVid()" id="play-btn" class="circle-btn" ng-show="isEditMode && vidElemShow && !playingVid && (numVids > 0)">
              <i class="fa fa-play fa-2x"></i>
            </button>
            <button title="Pause" ng-click="pauseVid()" id="pause-btn" class="circle-btn" ng-show="isEditMode && vidElemShow && playingVid && (numVids > 0)">
              <i class="fa fa-pause fa-2x"></i>
            </button>
            <button title="Loop" ng-click="loopVid()" id="loop-btn" class="circle-btn" ng-show="isEditMode && vidElemShow && !loopingVid && (numVids > 0)">
              <i class="fa fa-undo fa-2x"></i>
            </button>
            <button title="Stop" ng-click="stopVid()" id="stop-btn" class="circle-btn" ng-show="isEditMode && vidElemShow && loopingVid && (numVids > 0)">
              <i class="fa fa-stop fa-2x"></i>
            </button>
            <button title="Edit Video" id="check-btn" class="circle-btn" ng-show="false">
              <i class="fa fa-scissors fa-2x"></i>
            </button>
            <button title="Delete Video" ng-click="deleteVid()" ng-show="numVids > 0 && isEditMode" id="delete-video-btn" class="circle-btn">
              <i class="fa fa-trash fa-2x"></i>
            </button>
            <!-- button to make video first in list? -->
            <button title="Next Video (W)" ng-click="nextVid()" ng-show="numVids > 1" ng-disabled="curVidIndex === numVids-1" id="right-video-btn" class="circle-btn">
              <i class="fa fa-arrow-right fa-2x"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- PICTURE AREA -->

      <div ng-show="isEditMode || (showHides.showPic && !showHides.disablePic)" id="pic-area" class="inline-block">
        <div id="pic-container">
          <div id="pic-img" class="has-background-image" ng-show="!picUploadShow && (numPics > 0)"></div>
          <div id="pic-upload-area" ng-show="picUploadShow">
            <form action="/picUpload.php" class="dropzone" id="my-dropzone"></form>
          </div>
          <div id="no-pic-area" ng-show="(numPics === 0) && !picUploadShow">
            <span class="more-line-height">Press + to take a picture,<br>or press the file to upload pictures.</span>
          </div>
        </div>
        <div id="pic-buttons-container" class="button-container">
          <div id="pic-button-bar" class="button-bar" ng-show:"true">
            <button title="Previous Picture (A)" ng-click="prevPic()" ng-show="numPics > 1 && !picUploadShow" ng-disabled="curPicIndex === 0" id="left-pic-btn" class="circle-btn">
              <i class="fa fa-arrow-left fa-2x"></i>
            </button>
            <button title="Take New Picture" ng-click="takeNewPic()" ng-show="isEditMode && !picUploadShow" id="take-pic-btn" class="circle-btn" ng-show="isEditMode">
              <i class="fa fa-2x fa-plus"></i>
            </button>
            <button title="Add New Picture" ng-click="picUploadShow=!picUploadShow;" id="add-pic-btn" class="circle-btn" ng-show="isEditMode">
              <i class="fa fa-2x" ng-class="{'fa-file-image-o': !picUploadShow, 'fa-check': picUploadShow}"></i>
            </button>
            <button title="Delete Picture" ng-click="deletePic()" ng-show="numPics > 0 && !picUploadShow && isEditMode" id="delete-pic-btn" class="circle-btn">
              <i class="fa fa-trash fa-2x"></i>
            </button>
            <button title="Next Picture (S)" ng-click="nextPic()" ng-show="numPics > 1 && !picUploadShow" ng-disabled="curPicIndex === numPics-1" id="right-pic-btn" class="circle-btn">
              <i class="fa fa-arrow-right fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- TEXT ENTRY / DISPLAY FOR ENTRY -->

    <div id="text-entry-container" class="center-children" ng-show="!isFolderView && !isHomepage && !(!isEditMode && !showHides.showWord)">

      <div ng-show="!isEditMode" id="eng-word-show" class="show-text-box">
        <span>{{data.entryObj.english[curEngIndex]}}</span>
      </div>

      <div ng-show="isEditMode" id="eng-area" class="input-area">
        <input id="eng-input" class="text-input" ng-model="englishInputText" placeholder="English Meaning" data-autosize-input='{ "space": 40 }'/>
      </div>

      <div id="eng-button-container" class="button-container">
        <div id="eng-button-bar" class="button-bar">
          <button title="Previous Meaning (Z)" ng-click="prevEng()" ng-show="numEng > 1 && !(englishInputText !== data.entryObj.english[curEngIndex] || isNewMeaning)" ng-disabled="curEngIndex === 0" id="left-eng-btn" class="circle-btn">
            <i class="fa fa-arrow-left fa-2x"></i>
          </button>
          <button title="Update Word Meaning" ng-click="updateEnglishText()" ng-show="englishInputText !== data.entryObj.english[curEngIndex] || isNewMeaning" id="update-eng-btn" class="circle-btn">
            <i class="fa fa-check fa-2x"></i>
          </button>
          <button title="Cancel Word Update" ng-click="cancelEngUpdate()" ng-show="!isNewEntry && (englishInputText !== data.entryObj.english[curEngIndex] || isNewMeaning)" id="cancel-update-eng-btn" class="circle-btn">
            <i class="fa fa-times fa-2x"></i>
          </button>
          <button title="Add New Meaning" ng-click="addNewEng()" ng-show="isEditMode && !(englishInputText !== data.entryObj.english[curEngIndex] || isNewMeaning)" id="add-eng-btn" class="circle-btn">
            <i class="fa fa-plus fa-2x"></i>
          </button>
          <button title="Delete Alternate Meaning" ng-click="deleteEng()" ng-show="numEng > 1 && isEditMode && !(englishInputText !== data.entryObj.english[curEngIndex] || isNewMeaning)" id="delete-eng-btn" class="circle-btn">
            <i class="fa fa-trash fa-2x"></i>
          </button>
          <button title="Next Meaning (X)" ng-click="nextEng()" ng-show="numEng > 1  && !(englishInputText !== data.entryObj.english[curEngIndex] || isNewMeaning)" ng-disabled="curEngIndex === numEng-1" id="right-eng-btn" class="circle-btn">
            <i class="fa fa-arrow-right fa-2x"></i>
          </button>
        </div>
      </div>

    </div>

    <!-- Folder View -->

    <div ng-show="isFolderView" id="folder-buttons" class="center-children">

      <div id="folder-name-show" ng-show="!isEditMode">
        <i class="fa fa-folder"></i>
        {{(folderInputText ? folderInputText : "Unnamed Topic (click Edit Mode)")}}
      </div>

      <div id="folder-name-area" class="input-area" ng-show="isEditMode">
        <input id="folder-name-input" class="text-input" ng-model="folderInputText" placeholder="Topic Name" data-autosize-input='{ "space": 40 }'/>
        <button ng-click="updateFolderName()" ng-show="folderInputText !== data.folderObj.name" title="Update Folder Name" id="update-folder-name-btn" class="circle-btn">
          <i class="fa fa-check fa-2x"></i>
        </button>
      </div>

      <div id="folder-contents-area" ng-show="!isNewFolder">
        <div id="folder-contents-btn-area" class="center-children" ng-hide="data.folderObj.id === newWordsFolderId">
          <button ng-click="toggleAddWordsToFolder()" class="rectangle-btn add-folder-content-btn" ng-hide="(addingWordsToFolder && !addedWordToFolder) || !isEditMode">
            <span ng-show="addingWordsToFolder">
              <i class="fa fa-check"></i>
              Save Changes
            </span>
            <span ng-show="!addingWordsToFolder">
              <i class="fa fa-plus-circle"></i>
              <i class="fa fa-minus-circle"></i>
              Add/Delete Words
            </span>
          </button>
          <div>
            <button ng-click="cancelAddingWords()" ng-show="addingWordsToFolder" class="rectangle-btn add-folder-content-btn">
              <span>
                <i class="fa fa-times"></i>
                Cancel
              </span>
            </button>
          </div>
        </div>

        <div class="word-in-folder" ng-repeat="childObj in data.folderObj.children" ng-hide="!data.folderObj" class="folder-obj">
          <i ng-if="childObj.isFolder" class="fa fa-folder"></i>
          <i ng-if="!childObj.isFolder && !addingWordsToFolder" class="left-padding"></i>
          <i ng-click="deleteNodeFromCurFolder(childObj)" ng-if="!childObj.isFolder && addingWordsToFolder" class="fa fa-minus-circle delete-entry-from-folder"></i>
          <span ng-class="{'hover-pointer': !addingWordsToFolder}" ng-click="goToPageOfNodeObj(childObj)">{{childObj.name}}</span>
        </div>

        <div class="center-children">
          <button ng-click="createEntry();" ng-show="isEditMode && !areRearranging && !addingWordsToFolder" id="add-word-in-topic" class="rectangle-btn add-folder-content-btn">
            <i class="fa fa-plus"></i>
            New Word in Topic
          </button>
        </div>

      </div>
    
    </div>

    <!-- Item Deletion -->

    <div ng-show="isEditMode && !(isFolderView && data.folderObj.id === newWordsFolderId) && !isHomepage" id="deletion-container" class="center-children">
      <button title="Delete" ng-click="deleteItem()" id="delete-video-btn" class="rectangle-btn">
        <i class="fa fa-minus-circle"></i>
        Delete {{isFolderView ? data.folderObj.name + " Folder" : data.entryObj.english[0] + " Entry"}} 
        <span ng-show="deleteAll"> and all {{isFolderView ? "contents" : "copies"}}</span>
      </button>
      <div ng-hide="(!isFolderView && (entryCount(data.entry) <= 1)) || (isFolderView && data.folderObj.children.length === 0)">
        <input ng-model="deleteAll" id="delete-all" type="checkbox"/>
        Delete all {{(!isFolderView) ? ( data.entryObj.english[0] + " entries") : ("items in " + data.folderObj.name) }}
      </div>
    </div>

    <!-- Show/hide Bottom Bar -->

    <div id="bottom-bar-container" ng-show="!isFolderView && !isHomepage" class="center-children">
      <div id="prev-word-btn-container">
        <button title="Previous Word (Left Arrow Key)" ng-click="goToPrevWord()" ng-disabled="data.parentFolderObj.children.length < 2" id="prev-word-btn" class="circle-btn bottom-btn">
          <i class="fa fa-arrow-left fa-2x"></i>
        </button>
      </div>
      <div id="show-hide-bar" ng-show="!isEditMode && !isFolderView">
        <button title="Show/Hide Video (E)" ng-click="toggleVidShow()" ng-disabled="showHides.disableVid" id="show-vid-btn" class="circle-btn bottom-btn">
          <span class="fa-stack fa-lg">
            <i class="fa fa-video-camera fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x" ng-show="!showHides.showVid"></i>
          </span>
        </button>
        <button title="Show/Hide Picture (D)" ng-click="togglePicShow()" ng-disabled="showHides.disablePic" id="show-pic-btn" class="circle-btn bottom-btn">
          <span class="fa-stack fa-lg">
            <i class="fa fa-picture-o fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x" ng-show="!showHides.showPic"></i>
          </span>
        </button>
        <button title="Show/Hide Word (C)" ng-click="toggleWordShow()" id="show-word-btn" class="circle-btn bottom-btn">
          <span class="fa-stack fa-lg">
            <i class="fa fa-font fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x" ng-show="!showHides.showWord"></i>
          </span>
        </button>
      </div>
      <div id="next-word-btn-container">
        <button title="Next Word (Right Arrow Key)" ng-click="goToNextWord()" ng-disabled="data.parentFolderObj.children.length < 2" id="next-word-btn" class="circle-btn bottom-btn">
          <i class="fa fa-arrow-right fa-2x"></i>
        </button>
      </div>
    </div>
    <div ng-show="!isFolderView && !isHomepage" id="bottom-bar-space-container">
      <button class="circle-btn"></button>
    </div>
    

  </div>
  </div>

</div>

</body>

</html>
