/* createVid.css */

body {
	font-size: 16 px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
	background-color: #222;
}

.center-children {
	text-align: center;
}

#main-container {
  width: 455px;
	background-color: #4a4a4a;
  display: inline-block;
  padding: 1.2em 2.4em;
  border-radius: 7px;
  margin-top: 1.5em;
}

video,img,canvas {
	border: none;
	box-shadow: #222 0px 0px 10px;
  max-width: 100%;
  vertical-align: top;
  object-fit: contain;
  background: #111;
}

video.flipped {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

button {
	border-radius: 5px;
	outline: none;
	text-align: center;
	padding: 2px 6px 3px;
	border: none;
	background-color: #ccc;
	box-shadow: #3a3a3a 0px 0px 6px;
}

button:hover {
	cursor: pointer;
	background-color: #eee;
}

button:active {
	border: none;
	background-color: #aaa;
	box-shadow: black 0px 0px 5px inset;
}

button.disabled {
	opacity: 0.5;
}
button.disabled:hover {
	cursor: default;
	background-color: #ccc;
}
button.disabled:active {
	box-shadow: none;
	background-color: #ccc;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
  //background-color: #3a3a3a;
  display: inline-block;
  padding: .2em .5em;
  //border-radius: 7px;
  //box-shadow: #3a3a3a 0px 0px 4px;
  text-shadow: black 0px 1px 3px;
}

#video-record-container {
	position: relative;
}

#overlay-padding {
	padding-top: 52px;
}

.big-overlay-text {
  font-size: 3em;
}

#video-record-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  display: inline;
}

.opacity-half {
	opacity: 0.5;
}

#camera-btn {
  padding-bottom: 10px;
  box-shadow: black 0px 0px 15px;
  font-size: 1em;
}

#camera-btn:active {
	box-shadow: black 0px 0px 10px inset;
}

.red-font {
	color: red;
}

/* EDITING TOOLS */

#button-container {
	margin: .7em 0em;
}

#button-bar {
  display: inline-block;
  background-color: #3a3a3a;
  padding: .5em 1em;
  border-radius: 1.5em;
}

.circle-btn {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.fa-play {
	margin-left: 6px;
}

/* PREVIEWS */

#canvas {
	margin-top: 20px;
	border: 1px solid #ccc;
	display: block;
}

/* SLIDER */

#editor-container {
	margin: 1em;
}

#editor-slider {
  width: 420px;
  display: inline-block;
  border: none;
  margin-top: 1em;
  background: #777;
}

#editor-slider .ui-slider-handle {
	outline: none;
	width: 0.4em;
	height: 1.2em;
  top: -0.5em;
  margin-left: -.2em;
}

.ui-slider-handle.ui-state-hover {
	cursor: ew-resize;
}

.ui-slider-horizontal {
	height: 0.2em;
}

.ui-slider .ui-slider-range {
	background: white;
}

#left-slider-label,
#right-slider-label {
  position: absolute;
  bottom: -0.5em;
  left: -1.4em;
  text-align: center;
  width: 3em;
  color: #fcfcfc;
  padding-bottom: 2em;
}

#left-slider-label:hover,
#right-slider-label:hover {
	cursor: ew-resize;
}

#play-bar {
  background-color: #333;
  height: 4px;
  float: right;
}

/* FILENAME INPUT */

#word-input {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  background-color: #eee;
  border: none;
  padding: .25em;
  margin-bottom: .5em;
  min-width: 80px;
  max-width: 445px;
}

#word-input:focus {
	outline: none;
	background-color: white;
}

/* HELP TEXT */

#help-text-area {
	display: inline-block;
  //background-color: #3a3a3a;
  border-radius: 7px;
  padding: .3em 1em;
  max-width: 525px;
}

#help-text {
	line-height: 20px;
}

/* BACK BUTTON */

#back-button {
	font-size: 1em;
	margin: 1em;
}
