/* main.css */

/* GENERAL STYLES */

body {
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
	background-color: #222;
	width: 100%;
}

.center-children {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.container {
	background-color: #4a4a4a;
  display: inline-block;
  border-radius: 7px;
}

#main-container {
	width: 100vw;
	height: 100vh;
}

.red-font {
	color: red;
}

.hover-pointer:hover {
	cursor: pointer;
}

/* LEFT SIDEBAR */

#left-sidebar {
	width: 220px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	left: 0;
	background-color: #eee;
	overflow: scroll;
}

#left-sidebar #sidebar-header {
	width: 100%;
	background-color: #777;
	padding: .5em 0em;
}

#left-sidebar #folder-list {
	background-color: #eee;
	color: #333;
	text-shadow: none;
	font-size: 1.25em;
	padding-right: 0.2em;
}

#sidebar-header button {
	font-size: 1.2em;
	margin: .3em;
  width: 145px;
}

/* BUTTON STYLES */

button {
	border-radius: 5px;
	outline: none;
	text-align: center;
	padding: 2px 6px 3px;
	border: none;
	background-color: #ccc;
	box-shadow: #3a3a3a 0px 0px 4px;
}

button:hover:not(:disabled) {
	cursor: pointer;
	background-color: #eee;
}

button:active:not(:disabled) {
	border: none;
	background-color: #aaa;
	box-shadow: black 0px 0px 2px inset;
}

button.disabled {
	opacity: 0.5;
}
button.disabled:hover {
	cursor: default;
	background-color: #ccc;
}
button.disabled:active {
	box-shadow: none;
	background-color: #ccc;
}

/* SPECIFIC BUTTONS */

#button-container {
	margin: .7em 0em;
}

.rectangle-btn {
	font-size: 1.2em;
	margin: .5em;
}

.circle-btn {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.fa-play {
	margin-left: 6px;
}

/* FOLDERS */

li.folder {
	padding-top: 0.2em;
}

li.entry {
	padding-top: 0.2em;
}

#folder-list .folder-icon:hover {
	cursor: pointer;
}

#folder-list .label:hover {
	cursor: move;
}

#folder-list .mjs-nestedSortable-disabled .label:hover {
	cursor: pointer;
}

#folder-list .mjs-nestedSortable-disabled .label.no-hover:hover {
	cursor: default;
}

#folder-list li.dragging {
	background-color: #111;
  box-shadow: 0px 0px 10px 5px #111;
}

.placeholder {
	outline: 1px dashed black;
	border-radius: 3px;
}

/* from http://stackoverflow.com/questions/826782/
   css-rule-to-disable-text-selection-highlighting */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol,ul {
	padding-left: 10px;
}

.sortable li.closed-folder > ol {
  display: none;
}
.sortable li.open-folder > ol {
  display: block;
}

/* TOGGLE FOLDER ICON (from font-awesome) */
li.folder.closed-folder > div > i:before {
  content: "\f07b"; /* fa-folder */
}
li.folder.open-folder > div > i:before {
  content: "\f07c"; /* fa-folder-open */
}
li.folder > div > i:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 100%;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.mjs-nestedSortable-error {
	background-color: #AD0505; /* dark red */
}

.current-entry {
	background-color: #ccc;
	border-radius: 2px;
	box-shadow: 0px 0px 2px 1px #ccc;
}

/* RIGHT DISPLAY */

#right-display-container {
	margin-left: 220px;
	width: auto;
	position: relative;
}

#right-display {
}

/* FIXED HOMEPAGE LOGO */

#top-fixed-bar {
	position: fixed;
	top: 0;
	width: calc(100% - 220px);
	z-index: 1000;
}

#logo-btn {
	width: 83px;
	padding: .5em;
	opacity: 0.8;
}

#logo-btn:hover {
	cursor: pointer;
	opacity: 1;
}

#logo-btn > img {
	width: 100%;
	background: none;
}

#logo-btn.bright-logo {
	opacity: 1;
}

/* MORE HOMEPAGE STUFF */

#homepage-button-area {
	background-color: #333;
	display: inline-block;
	margin-bottom: 1em;
	border-radius: 5px;
	padding: 0.5em;
}

#homepage-button-area button {
	font-size: 1.2em;
	margin: .3em .5em;
}

#homepage-button-area button.wide-button {
	width: 207px;
}
#homepage-button-area button.smaller-button {
	width: 175px;
}

.homepage-title {
	font-size: 1.5em;
	margin-top: .5em;
	margin-bottom: 1em;
}

/* HEADER */

h1 {
	font-size: 2em;
	margin-top: 0.25em;
	margin-bottom: 0.1em;
  display: inline-block;
  padding: .2em .5em;
  text-shadow: black 0px 1px 3px;
}

/* HELP TEXT */

#help-text-area {
	display: inline-block;
  padding: .3em 1em;
  padding-bottom: 1.5em;
  max-width: 525px;
}

#help-text {
	line-height: 20px;
}

/* BUTTON BAR STYLES */

.button-container {
	margin: .25em 0em;
}

.button-bar {
  display: inline-block;
  background-color: #3a3a3a;
  padding: .5em 1em;
  border-radius: 1.5em;
  z-index: 1000;
}

/* VIDEO/PIC STYLES */

#video-container,
#pic-container {
	width: 320px;
	height: 240px;
	background: #111;
	box-shadow: #111 0px 0px 10px;
}

#no-vid-area,
#no-pic-area {
	padding-top: 30%;
}

.more-line-height {
	line-height: 1.2em;
}

video,img,canvas {
	border: none;
  max-width: 100%;
  vertical-align: top;
  object-fit: contain;
  background: #111;
}

#video-area,#pic-area {
	margin: 0em 1em;
	vertical-align: top;
}

/* VIDEO STYLES */

#vid-loop {
	width: 100%;
	height: 100%;
}

/* PICTURE STYLES */

#pic-canvas {
	width: 320px;
	height: 240px;
}

#pic-img {
	width: 100%;
	height: 100%;
}

.has-background-image {
	background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* unused */
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: black;
	-webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#pic-upload-area {
  height: 100%;
}

.dropzone {
	height: 100%;
  padding: 0px;
  overflow: scroll;
}

.dz-size {
	display: none;
}

.dropzone .dz-preview,
.dropzone .dz-preview.dz-image-preview {
	background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid #333;
  width: 140px;
  height: 105px;
  margin: 8px;
}

.delete-pic {
	margin-top: 70px;
}

.delete-pic:hover,
.dropzone.dz-clickable i {
	cursor: pointer;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
	background: none;
}

.dropzone .dz-preview .dz-image {
	display: none;
}

.dropzone .dz-preview .dz-details {
	opacity: 1;
	z-index: 0;
	padding-top: 1.5em;
}

.dropzone.dz-started .dz-message,
.dropzone .dz-message {
	display: inline-block;
	color: black;
	text-shadow: none;
	margin: .5em 0;
	width: 100%;
}

.dropzone:not(.dz-started) .dz-message {
	margin-top: 5.5em;
}

/* TEXT STYLES */

.show-text-box {
	font-size: 2.5em;
	padding: 0.3em;
}

/* INPUT */

input {
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  background-color: #ddd;
  border: none;
  padding: .25em;
}

.text-input {
	min-width: 10.67em;
  max-width: 445px;
}

input:focus {
	outline: none;
	background-color: white;
}

#text-entry-container {
	margin: 1em .5em;
}

.input-area {
	margin: 0.5em;
}

/* FOLDER EDIT VIEW */

#folder-name-show {
  font-size: 2em;
  padding: .5em;
}

#folder-contents-area,
#all-folders-contents-area {
	margin-bottom: .7em;
  display: inline-block;
  background-color: #333;
  padding: 1em;
  border-radius: 5px;
  text-align: left;
  min-width: 12em;
}

#words-in-folder-header {
  font-size: 1.3em;
  padding-bottom: .7em;
}

#folder-contents-btn-area {
	text-align: center;
}

.word-in-folder {
	padding: .2em;
	font-size: 1em;
}

.add-folder-content-btn {
	font-size: 1em;
	margin: 0.2em 0em;
}

.left-padding {
	padding-left: 1.2em;
}

.delete-entry-from-folder:hover {
	cursor: pointer;
}

.add-entry-to-folder:hover {
	cursor: pointer;
}

#add-word-in-topic {
	margin-top: 0.7em;
}

/* BOTTOM BAR BUTTONS */

#bottom-bar-container {
	position: fixed;
	bottom: 0;
	width: calc(100% - 220px);
	z-index: 100;
}

.bottom-btn {
	width: 60px;
	height: 60px;
	font-size: 1.4em;
	padding: 0;
	vertical-align: top;
}

.bottom-btn .fa-ban,
.bottom-btn .fa-times {
	color: #a94442;
	opacity: 0.85;
}

#prev-word-btn-container {
	position: fixed;
	left: 220px;
	bottom: 0;
	padding: 1em;
}

#next-word-btn-container {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 1em;
}

#show-hide-bar {
	background-color: #333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: .7em 1.5em;
	display: inline-block;
}

#bottom-bar-space-container {
	opacity: 0;
	padding: 1em;
}



