/* ADDED STYLES */

#tbw_link {
	width: 100px;
	height: 68px;
	position: absolute;
	top: 0;
	left: 0;
}

#tbw_link:hover {
	cursor: pointer;
}

.banner {
	width: 100%;

}

.banner-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.india-banner {
	background-image: url(../pics/india_flag_paint.jpg);
}

.icon-container {
	width: 64px;
	height: 64px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48px 48px;
}

.mail-icon {
  background-image: url(../pics/mail-icon.png);
}

.camera_caption h3.white-font {
	color: #ffffff;
	text-shadow: 0 0 8px #000;
}

.camera_caption p.white-font {
	color: #ffffff;
	text-shadow: 0 0 5px #000;
}

.white-font {
	color: #ffffff;
}

.blackish-font {
	color: #333;
}

.person_pic_container {
	text-align: center;
}

.img_container {
	text-align: center;
}

.img_container img {
	display: inline-block;
}

.person_pic {
	width: 150px;
	display: inline-block;
}

.index p.bio-section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: left;
}

.index p.text-section {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
}

.index p.text-section-left {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: right;
}

.block-3 h3 {
	text-shadow: black 0px 0px 8px;
}

.block-3 .text-section,
.block-3 .text-section-left {
	text-shadow: black 0px 0px 5px;
}

.index .block-2 .btn.cmu-btn {
	width: 380px;
}

.index .block-1 .btn,
.index .block-2 .btn,
.index .block-3 .btn,
.index .block-4 .btn,
.index-1 .block-1 .btn,
.index-1 .block-2 .btn,
.index-1 .block-3 .btn,
.index-1 .block-4 .btn{
  text-transform: none;
}

.index .block-2 {
	padding: 60px 0 30px;
}

.med-btn {
	width: 300px;
	text-transform: none;
}

.index .block-3 {
  padding: 123px 0 50px;
  background: url(../pics/blue_map.jpg);
  background-attachment: fixed;
  background-position: center 0%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  z-index: 8;
  text-align: center;
}

.index .block-3 a.btn {
	background: none;
	color: white;
	border: white solid 1px;
	text-shadow: black 0px 0px 5px;
}

.index .block-3 a.btn:hover {
	background: #025C9B;
	color: white;
}

.index-1 .block-1,
.index-2 .block-1 {
	padding-top: 70px;
}

#mathru-pic {
	max-width: 200px;
}

#bwt-pic {
	max-width: 200px;
}

#sabt-pic {
	max-width: 177px;
}

.grid_12 {
	text-align: center;
}

.btn {
	width: 100%;
	max-width: 278px;
}

#mathru-center-btn {
	max-width: 400px;
}

h5 a {
	color: darkblue;
}

#social_media_gallery .img_container {
	border: black solid 1px;
}

#social_media_gallery article {
	margin-bottom: 25px;
}

@media only screen and (max-width: 480px) {
  .index .block-3 {
    background: #025C9B;
  }
}

